ul{
list-style: square;
}
ol{
    list-style: upper-roman;
}
li{
    list-style: lower-roman;
}
a:havor{color:green;
   text-decoration: underline;}
a:active {color:black;
    text-decoration: underline;}
a:visited{ color:blue;
          text-decoration: none;}
a:link{color:red;}
h1,h2,h3,h4,h5,h6{ color:rgb(48, 13, 174);}
.p1{
    color:aqua;
    font:150;
    size:40cm;
}
.p2{
    color:bisque;
    font:200;
    size:50cm;
}